@charset "utf-8";

body {
	/*background-color: #e3d8d8;*/
	background-image: url(fleur2.png);
	/*position: fixed;*/
	/*position: static;*/
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
	padding: 0px;

}


/*.nom {
	font-size: 15px;
}*/
ul {
	list-style: none;
}
a{
	text-decoration: none;
}
section {
	width: 100%;
	height: 95vh;
	/*background-image:url();
	background-repeat: no-repeat;
	background-size: cover; 
	position: relative;*/
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	width: 90%;
	background-color: #8f1540; 
	box-shadow: 2px 2px 12px rgba(0,0,0,0,2);
	padding: 0px 5%;
	position: fixed;
	z-index: 10;
}
nav ul {
	display: flex;	
}
nav ul li a {
	margin: 30px;
	font-family: myriad pro regular;
	color: #ffffff;
	font-size: 19px;
	font-weight: 700;  
}
.logo {
	font-family:'Pacifico', cursive;
	color:#ffffff ; 
	font-size: 32px;
}
.active{
	font-weight:bold;
	font-family:'Kaushan Script', cursive; 
}
.text-conatiner p:nth-child(1){
	font-family: 'Rokkitt', serif;
	font-weight: bold;
	color: #1a1717;
	font-size: 25px;
}
.text-conatiner p:nth-child(2){
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	color: #1a1717;
	font-size: 50px;
}
.text-conatiner p:nth-child(3){
	font-family: 'Orbitron', sans-serif;
	color: #1a1717;
	font-size: 30px;
	line-height: 30px;
}
.text-conatiner p{
	line-height: 0px;
	margin: 45px 0px 25px;
}
.text-conatiner {
	position: absolute;
	left: 13%;
	top: 42%;
	transform: translate(-13%, -42%); 
}
.text-conatiner button{
	width: 130px;
	height: 42px;
	border-radius: 10px; 
	font-weight: bold;
	font-size: 14px;
	outline: none;
	margin: 0px 10px;
}
.hire-btn {
	border: 2px solid #1a1717;
	color: #1a1717;
}
.down-cv {
	background-color: #1a1717;
	color: #f5e4e4;
	border: none;
}
button:active{
	transform: scale(1.1);
}
.profil {
	height: 500px;
	position: absolute;
	bottom: 0px;
	top: 15%;
	left: 80%;
	transform: translateX(-70%);
	border-radius: 40%;  
}
.about-container {
	width: 80%;
	height: 330px;
	background-color: #000000; 
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0,2);
	display: flex;
	margin: 5% auto 20px auto;
	position: relative;
	align-items: center;
}
.about-container img{
	height:300px;
	padding-left: 300px;
	/*border-radius: 50%;*/

}
.about-text{
	width:550px;
	color: white;
	margin: 50px;
} 
.about-text p:nth-child(1){
	color: white;
	font-family:'Orbitron', sans-serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 0px; 
}
.about-text p:nth-child(2){
	color: white;
	font-size:20px;
	font-family: calibri;
	font-weight: bold;
	line-height: 15px;
}
.about-text p:nth-child(3),
.about-text p:nth-child(4){
	color: white;
	font-size: 16px;
	font-family: calibri;
	width: 400px;
	margin: 20px 0px;
}
.about-text button{
	width:120px;
	height: 40px;
	color: #000000;
	outline: none;
	border: none;
	font-family: calibri;
	background-color:#ffffff; 
}
.services{
	height: 600px;
	padding: 2% 10% 0px 10%;
	background-color: #ffffff;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 80px;
}
.services-text p:nth-child(1){
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	color: black;
	font-size: 30px;
	line-height: 0px;
}
.services-text p:nth-child(2){
	font-family: calibri;
	font-weight: bold;
	color: black;
	font-size: 20px;
	line-height: 5px;
}
.services-text p:nth-child(3){
	font-family: calibri;
	color: black;
}
.services-text {
	/*width: 500px;*/
	margin: 50px 0px;
}
/*competance----------------------*/
.box-1, .box-2, .box-3{
	width: 300px;
	height: 320px;
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 2px 2px 12px rgba(0,0,0,0,3);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.box-container{
	display: flex;
	justify-content: space-between;

}
/*.box-1 span {
	background-image: url(bureautique.png);
}
.box-2 span {
	background-image: url(langue.png);
}
.box-3 span {
	background-image: url(logiciel.png);
}*/
.box-1 span,
.box-2 span,
.box-3 span{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	/*font-family: calibri;*/
	font-weight: bold;
}
.box-1 img{
	width: 30px;
	height: 24px;
}
.box-2 img{
	width: 30px;
	height: 24px;
}
.box-3 img{
	width: 30px;
	height: 24px;
}
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
	color: white;
	font-family: calibri;
	font-size: 23px;
	line-height: 0px;
	z-index: 2;

}
.box-2 p:nth-child(3),
.box-2 p:nth-child(4),
.box-2 p:nth-child(5),
.box-2 p:nth-child(6){
	font-family: calibri;
	/*text-align: center;*/
	width: 230px;
	margin: -8px 0px 20px 0px;
	color: white;	
}

.box-1 p:nth-child(3),
/*.box-2 p:nth-child(3),*/
.box-3 p:nth-child(3){
	font-family: calibri;
	/*text-align: center;*/
	width: 230px;
	margin: 0px 0px 20px 0px;
	color: white;
}
.box-1 button,
.box-2 button,
.box-3 button{
	width: 100px;
	height: 30px;
	background-color: #ffffff;
	border: none;
	outline: none;
	border-radius: 5px;
}
/*etude-----------------------*/
.etudes{
	width: 80%;
	height: 330px;
	background-color: #000000; 
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0,2);
	display: flex;
	margin: 5% auto 20px auto;
	position: relative;
	align-items: center;
}
.etudes-text{
	width:550px;
	color: white;
	margin: 50px;
	padding-left: 10%;
}
.etudes-text p:nth-child(1){
	color: white;
	font-family:'Orbitron', sans-serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 0px; 
}
.etudes span{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	/*font-family: calibri;*/
	font-weight: bold;
	margin-left: 10%;
}
.etudes img{
	height: 200px;
	width: 200px;
}
/*projet-----------------*/
.projet-text {
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	color: black;
	font-size: 30px;
	line-height: 5px;
	padding: 80px 200px 20px 150px;
}

.projet-1, .projet-2, .projet-3{
	width: 300px;
	height: 320px;
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 2px 2px 12px rgba(0,0,0,0,3);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.projet-container{
	display: flex;
	justify-content: space-between;
	height: 600px;
	padding: 2% 10% 0px 10%;
	/*background-color: #ffffff;*/
	/*margin-left: 100px;
	margin-right: 100px;
	margin-top: 80px;*/

}
.blanc{
	background-color: #ffffff;
	/*justify-content: space-between;*/
	height: 600px;
	/*padding: 2% 10% 0px 10%;*/
	/*background-color: #ffffff;*/
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 80px;
}

.projet-1 span,
.projet-2 span,
.projet-3 span{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: calibri;
	font-weight: bold;
}

.projet-1 p:nth-child(2),
.projet-2 p:nth-child(2),
.projet-3 p:nth-child(2){
	color: white;
	font-family: calibri;
	font-size: 23px;
	line-height: 0px;

}
/*.projet-2 p:nth-child(3),
.projet-2 p:nth-child(4),
.projet-2 p:nth-child(5),
.projet-2 p:nth-child(6){
	font-family: calibri;*/
	/*text-align: center;
	width: 230px;
	margin: -8px 0px 20px 0px;
	color: white;	*/
/*}*/

.projet-1 p:nth-child(3),
.projet-2 p:nth-child(3),
.projet-3 p:nth-child(3){
	font-family: calibri;
	/*text-align: center;*/
	width: 230px;
	margin: 0px 0px 20px 0px;
	color: white;
}
.projet-1 button,
.projet-2 button,
.projet-3 button{
	width: 100px;
	height: 30px;
	background-color: #ffffff;
	border: none;
	outline: none;
	border-radius: 5px;
}
/*contact--------------------*/
.contact-me {
	width: 100%;
	height: 280px;
	background-color: #8f1540;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contact-me p{
	color: #ffffff;
	font-size: 30px;
	font-family:'Orbitron', sans-serif;
	font-weight: bold;
	border: 2px solid #ffffff; 
	padding: 20px 20px;
}
.contact-me button{
	width: 200px;
	height: 40px;
	background-color: #ffffff;
	outline: none;
	border: none;
	font-size: 14px;
	font-weight: bold;
}
footer {
	height: 300px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;

}
footer p{
	font-family: calibri;
}
footer p:nth-child(1){
	font-size: 30px;
	font-weight: bold;
	color: black;
	line-height: 10px;
}
footer p:nth-child(2){
	font-size: 16px;
	color: black;
	width: 600px;
	text-align: center; 
}
.social-icons a{
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #bd265b;
	margin: 20px 10px;
	border-radius: 50%; 
}
.social-icons{
	display: flex;
}
.copyright {
	color: black;
	font-size: 15px;
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform:  translateX(-50%);
}
.social-icons i{
	color: #ffffff;
}
.social-icons a:hover {
	background-color: #000000;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	transition: all ease 0.5s;
}
.social-icons a:hover i{
	color: #ffffff;
	transition: all ease 0.5s;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
/* barre------------------- */
.social-b {
	position: fixed;
	top: 50%;
	right: 0px;
	transform: translateY(-50%); 
}
.social-b a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	padding: 0px;
	margin: 0px;
	line-height: 0px;
	background-color: #000000;
	border: 1px solid #f5e4e4;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);

}
.social-b i{
	color: #ffffff;
	font-size: 20px;
}
.social-b a:hover{
	background-color: #bd265b;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	transition: all ease 0.5s;
}
.nom {
	font-size: 20px;
	color: #bd265b;
	font-family: 'Pacifico', cursive;
}
